.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.dual-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 600px;
  margin: 50px;
  justify-items: center;
  align-items: center;
  justify-content: center;
}

.time-sets {
  display: grid;
  grid-template-columns: 30px 100px 30px;
  justify-items: center;
  align-items: center;
  justify-content: center;
}

.control-pad {
  display: grid;
  grid-template-columns: 80px 80px;
  justify-items: center;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.pad {
  background-color: #8F9779;
  border: 2px solid white;
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.pad:hover {
  cursor: pointer;
  border-color: #4B5320;
}

#beep {
  display: none;
}

#display-container {
  min-width: 250px;
  border: 5px solid white;
  padding: 30px;
  border-radius: 25px;
  font-size: 30px;
}